body {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.header {
  text-align: right;
  padding-right: 5px;
  color: steelblue;
}

h1, h2 {
  margin: 0;
}

.snp_name {
  grid-area: 1 / 1 / 2 / 2;
}


.maf_viz {
  grid-area: 2 / 1 / 3 / 2;
  --header-height: 2rem;
}

.maf_viz .header {
  height: var(--header-height);
}

.maf_viz svg {
  width: 100%;
  height: calc(100% - var(--header-height));
}

.location {
  grid-area: 3 / 1 / 4 / 2;
}

.location table {
  font-size: 1.5rem;
}
