.viz_button,
.download_button {
  cursor: pointer;
}

.viz_button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  background-color: rgba(239,237,245, 0.95);
  height: auto;
  margin-top: 2px;
  transform: scale(1);
  transition: transform 500ms;
}

.viz_button.hidden,
.download_button.hidden {
  transform: scale(0);
}

.message_holders,
.settings_menu {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 0;
}

.message_holders {
  flex-direction: row;
  left: 0;
}

.settings_menu {
  right: 0;
  flex-direction: column;
}

.button_span {
  border: 1px solid black;
  padding: 5px;
  border-radius: 8px;
  box-shadow: black 1px 1px 0px;
  background: lightyellow;
  cursor: pointer;
  padding-right: 5px;
}
