* {
  box-sizing: border-box;
}


.table_holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2.5rem 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.search_box {
  grid-area: 1 / 1 / 2 / 2;
}

.raise_selected {
  grid-area: 1 / 2 / 2 / 3;
  text-align: right;
}

.search_box,
.raise_selected {
  align-self: center;
}

.table_wrapper{
  grid-area: 2 / 1 / 3 / 3;
  overflow-y: scroll;
}


/* ================================================== */
/* Table */
/* ================================================== */


.table_wrapper table {
  table-layout: fixed;
  width: 100%;
  font-size: 0.85em;
}

.table_wrapper table.header {
  position: sticky;
  top: 0;
}

.table_wrapper table.header tbody {
  display: table-row-group;
  background-color: #d9d9d9;
}

.flex-table th span {
  cursor: pointer;
}

/* ================================================== */
/* Buttons */
/* ================================================== */
/*
button.raise_selected {
  width: 120px;
  padding:6px 15px;
}*/

button.clear_search {
  padding: 5px 3px;
}


input[type=text], textarea {
  height: 2em;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 2px 3px 2px;
  border: 1px solid #DDDDDD;
}

/* Style the found results from the search to match the search bar for visual continuity */
input[type=text]:focus,
textarea:focus,
.found_in_search {
  box-shadow: 0 0 5px #2ca25f;
  border: 1px solid #2ca25f;
}

.search_box {
  display: inline-block;
  padding-right: 1rem;
  --fade-length: 0.5s;
}


.search_box button.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--fade-length) linear;
}

.search_box button.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s var(--fade-length), opacity var(--fade-length) linear;
}


/* ================================================== */
/* Histogram titles */
/* ================================================== */
svg .main-title {
  font-size: 1rem;
}

svg .sub-title {
  font-style: italic;
  opacity: 0.75;
  font-size: 0.8rem;
}
