.table_holder {
  display: flex;
  justify-content: center;
}

/* ================================================== */
/* Table */
/* ================================================== */

/* ================================================== */
/* Table-wide style */
table {
	border-collapse: collapse;
	table-layout: fixed;
}

/*Individual cells for header and body */
td, th {
	padding: 3px;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
}

/* ================================================== */
/* Table-body style */
tbody{
  display: block;
  width: 100%;
  overflow: auto;
  margin-top: -6px; /*Fixes gap between header and table */
}

/* ================================================== */
/* Header styling */

/* Everything that composes the header */
thead {
  font-size: 0.95em;
  font-weight: 600;
}

/* Entire row of the header */
thead tr {
   display: block;
}

/*Individual header cells */
th {
  background-color: #d9d9d9;
}

/* ================================================== */
/* Row styling */

tr {
  --row-height: 30px;
  height: var(--row-height);
}

/* Zebra striping */
tr:nth-of-type(even) {
	background: #f0f0f0;
}

/* Rows that have been selected */
tr.selected{
  background: orangered;
}

tr div {
  height: var(--row-height);
  text-align: left;
  overflow-x: auto;
  width: 100%;
  font-size: 0.8em;
}

/* Give text a bit of breathing room */
tr div span {
  padding-left: 0.2rem;
}


/* ================================================== */
/* Buttons */
/* ================================================== */
button {
  white-space: normal;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

button.raise_selected {
  width: 120px;
  padding:6px 15px;
}

button.clear_search {
  padding: 5px 3px;
}

button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}

button:active {
	position:relative;
	top:1px;
}


.control_panel{
  height: 50px;
  display: flex;
  align-items: flex-end;
  padding-bottom: .2rem;
}



input[type=text], textarea {
  height: 2em;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 2px 3px 2px;
  border: 1px solid #DDDDDD;
}

/* Style the found results from the search to match the search bar for visual continuity */
input[type=text]:focus,
textarea:focus,
tr.found_in_search td:first-child {
  box-shadow: 0 0 5px #2ca25f;
  border: 1px solid #2ca25f;
}

.search_box {
  display: inline-block;
  padding-right: 1rem;
  --fade-length: 0.5s;
}


.search_box button.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--fade-length) linear;
}

.search_box button.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s var(--fade-length), opacity var(--fade-length) linear;
}
