table {
	width: 100%;
	border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #333;
	color: white;
	font-weight: bold;
	cursor: s-resize;
	background-repeat: no-repeat;
      background-position: 3% center;
}

td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
}

th.des:after {
  content: "hey";
}

th.aes:after {
  content: "C"
}

.fixed_header{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 100px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  background: black;
  color:#fff;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}


